[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "aasdk"]
	path = aasdk
	url = https://github.com/AlexJonker/aasdk
[submodule "openauto"]
	path = openauto
	url = https://github.com/AlexJonker/openauto
