[submodule "buildroot"]
	path = modules/buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "aasdk"]
	path = modules/aasdk
	url = https://github.com/AlexJonker/aasdk
[submodule "openauto"]
	path = modules/openauto
	url = https://github.com/AlexJonker/openauto
[submodule "modules/dash"]
	path = modules/dash
	url = https://github.com/AlexJonker/dash
