BR2_ROOTFS_OVERLAY="../../src" # Copy files from src to the root of the image.

BR2_TARGET_GENERIC_HOSTNAME="car" # The hostname.
BR2_TARGET_GENERIC_ISSUE="Welcome to your very speedy racecar!" # The message that shows before all the logs when booting.

BR2_TARGET_GENERIC_ROOT_PASSWD="racer" # The root password.

BR2_ROOTFS_USERS_TABLES="../../config-overrides/users.txt" # The fule for other users.
BR2_PACKAGE_SUDO=y # Install sudo.

# --- Some usefull apps --
BR2_PACKAGE_NEOFETCH=y
BR2_PACKAGE_HTOP=y

# -- Fix qemu ---
BR2_TARGET_ROOTFS_EXT2_SIZE="128M"


# --- Some pi stuff ---
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/raspberrypi/linux.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="rpi-6.12.y"
BR2_PACKAGE_RPI_FIRMWARE_CONFIG_FILE="../../config-overrides/config.txt"


# Enable DRM/KMS & VC4
BR2_LINUX_KERNEL_DRM_VC4=y
BR2_LINUX_KERNEL_DRM_KMS_HELPER=y
BR2_LINUX_KERNEL_DRM_VC4_FIRMWARE=y
BR2_LINUX_KERNEL_DRM_PANEL=y
BR2_LINUX_KERNEL_FB=y
BR2_LINUX_KERNEL_FB_VIDEOMODE_HELPER=y
BR2_LINUX_KERNEL_FB_CONSOLE=y
# ---------------------------

# --- Graphics stack ---
BR2_PACKAGE_XORG7=y
BR2_PACKAGE_XAPP_XINIT=y
BR2_PACKAGE_XSERVER_XORG_SERVER=y
BR2_PACKAGE_XSERVER_XORG_SERVER_KMS=y
BR2_PACKAGE_XSERVER_XORG_SERVER_MODESETTING=y

# Input (touchscreen support)
BR2_PACKAGE_LIBINPUT=y
BR2_PACKAGE_LIBEVDEV=y
BR2_PACKAGE_XDRIVER_XF86_INPUT_LIBINPUT=y

# --- Window manager ---
BR2_PACKAGE_MATCHBOX=y

# --- GPU accel (Pi2/Pi3) ---
BR2_PACKAGE_MESA3D=y
BR2_PACKAGE_MESA3D_GALLIUM_DRIVER_VC4=y
