BR2_arm=y
BR2_cortex_a7=y
BR2_ARM_EABIHF=y

BR2_ARM_CPU_HAS_VFPV3=y
BR2_ARM_CPU_HAS_NEON=y

BR2_PACKAGE_RPI_FIRMWARE=y
BR2_PACKAGE_RPI_FIRMWARE_INSTALL_DTBS=y
BR2_PACKAGE_RPI_FIRMWARE_INSTALL_DTB_OVERLAYS=y
# BR2_PACKAGE_RPI_FIRMWARE_CONFIG_FILE="board/rpi3/config.txt"

BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_RPI=y

# BR2_LINUX_KERNEL=y
# BR2_LINUX_KERNEL_DEFCONFIG="bcm2709"
# BR2_LINUX_KERNEL_DTS_SUPPORT=y
# BR2_LINUX_KERNEL_INTREE_DTS_NAME="bcm2709-rpi-2-b bcm2710-rpi-3-b"